<footer class="page-footer white">
  <div class="footer-copyright orange center">
    Made with <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
  </div>
</footer>