<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper"><a id="logo-container" href="<%= home_path %>" class="brand-logo">&nbsp;Ticman</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <% if user_signed_in? %>
          <a href="<%= sessions_path %>" data-method="DELETE">Logout</a>
        <% else %>
          <a href="<%= new_sessions_path %>">Login</a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
