<div class="chip">success</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title black-text">Thank you</span>
        <p>We have sent you a verification email to the email you have provided, please check the inbox and follow the instruction to complete the registration.</p>
      </div>
      <div class="card-action">
        Didn't receive verification email? <a href="#">RESEND</a>
      </div>
    </div>
  </div>
</div>
